#logo {
    height: 200px;
    height: 250px;
}

body
{
    font-family: cursive;
    font-size:16px;
}
.hero-unit
{
    padding:50px 0;
}

.pic img
{
    width:95%;
    height:auto;
}
.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.navbar, .navbar-inner{
     background:#51a351;
    color:#FFFFFF;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar .brand, .footer
{
    background:#51a351;
    color:#FFFFFF;
}
.footer a
{
	color:#fff;
}
.navbar-inner
{
    background:#51a351;
    color:#FFFFFF;
}
.navbar .nav>li>a
{
    color:#FFFFFF;
}
.navbar .nav>li>a:hover
{
    color:#bbb;
}

.pic
{
    text-align: center;
}

.pic img
{
    max-width: 400px;
    height: auto;
}

.bio
{
	height:auto;
}
.tilt
{
    border:10px solid #FFFFCC;
}

#About h1{
    text-align:left;
}
h1{
    text-align:center;
}

.span4 a
{
    text-align:center;
}
.btn-large
{
    font-size: 1.2em;
    padding:1em 2.35em 1em 2.35em;
}
.services-icon, .service
{
    text-align:center;
}
.services-icon, .address-icon
{
    color: #51a351;
}

.project
{
    text-align:center;
}
.project img
{
    max-width: 200px;
    width:90%;
    height: auto;
    border: 2px solid #51a351;
}

input[type=text]
{
    width:80%;
}
textarea{
    width:80%;
    height:100px;
}
