body {
    background-color: white;
}

h3 {
    color: black;
    margin-left: 40px;
    font-family: "Arial Black";
    font-size: 50px;
}
h2{
    color: black;
    font-size:25px;
    text-align: center;} 
p{
    margin-left: 0px;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}
table{
    width: 80%;
}
th{
    height:50px;
}
tr{
    height:20px;
}
ul{
    list-style-type: square;
    font-size: 20px;
    color: black;
}
.fb-page{
    margin-left: 200px;
    margin-top: 0;
    
}